main{
    width: 1000px;
    height: auto;
    border: 2px solid;
    display: flex;
    margin-top: 150px;
    margin-left: 150px;
}

#cardbox{
    background-color: brown;
    width: 300px;
}

form{
    padding: 150px;
   
}

.MM{
    width: 50px;
    padding: 5px;
}

.CVC{
    width: 100px;
}

#cvc{
    margin-left: 50px;
    padding: 5px;
    margin-top: 10px;
}

.form-pad{
    padding: 5px;
}

#button{
    margin-top: 30px;
}

#card-holder-name{
    margin-top: 10px;
    margin-bottom: 10px;
}

#card-number{
    margin-top: 10px;
    margin-bottom: 10px;
}

#creditCard{
    width: 300px;
    height: 150px;
    border: 2px solid black;
    margin-left: 50px;
    margin-top: 100px;
}

#creditCard2{
    width: 300px;
    height: 150px;
    border: 2px solid black;
    margin-left: 100px;
    margin-top: 50px;
}