main{
    width: 1000px;
    height: auto;
    border: 2px solid;
    display: flex;
    margin-top: 150px;
    margin-left: 150px;
    margin-bottom: 100px;
    font-family: 'Space Grotesk', sans-serif;
}

#cardbox{
    background-color: brown;
    width: 300px;
    background-image: url("images/bg-main-desktop.png");
}

form{
    padding: 150px;
   
}

.MM{
    width: 50px;
    padding: 5px;
}

.CVC{
    width: 100px;
}

#cvc1{
    margin-left: 50px;
    padding: 5px;
    margin-top: 10px;
}

.form-pad{
    padding: 5px;
}

#button{
    width: 250px;
    height: 30px;
    
}

#card-holder-name{
    margin-top: 10px;
    margin-bottom: 10px;
}

#card-number{
    margin-top: 10px;
    margin-bottom: 10px;
}

#creditCard{
    width: 300px;
    height: 150px;
    border: 2px solid black;
    margin-left: 50px;
    margin-top: 100px;
    background-image: url("images/bg-card-front.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#creditCard2{
    width: 300px;
    height: 150px;
    border: 2px solid black;
    margin-left: 100px;
    margin-top: 50px;
    background-image: url("images/bg-card-back.png");
    background-size: cover;
    background-repeat: no-repeat;
}

input[type=submit]{
    background-color: hsl(278, 68%, 11%);
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 14px 12px;
  cursor: pointer;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

#card-det{
    display: flex;
    justify-content: space-around;
}

.jane{
    font-size: 12px;
    color: white;
    
}

#num1{
    letter-spacing: 4px;
    margin-left: 20px;
    margin-top: 70px;
    color: white;
}

#cvv3{
    margin-top: 73px;
    margin-left: 230px;
    font-size: 12px;
    color: white;
}

.error {
    color: red;
    font-size: 12px;
    
  }

  #err1{
    display: flex;
    justify-content: space-between;
  }

  p {
    margin: 0;
    padding: 0;
}

#cvc-error{
    margin-right: 20px;
}

#exp-date-error, #exp-date-error1{
    font-size: 10px;
}

#exp-date-error1{
    margin-right: 55px;
}

#cvc{
    margin-left: 50px;
}

@media only screen and (max-width: 600px){
    main{
        display: block;
        width: 500px;
       
       
    }

    #cardbox{
        width: 500px;
        height: fit-content;
       
    }

    #creditCard{
        margin-top: 0px;
        position: relative;
        z-index: 9998!important;
        top: 250px;
        
    }

    #creditCard2{
        position: relative;
        bottom: 80px;
        
    }

    #card-holder-name{
        width: 300px;
        height: 30px;
    }

    form{
        padding-left: 80px;
    }

    ::placeholder {
        font-family: 'Space Grotesk', sans-serif;
        font-size: 14px;
      }

      #card-number{
        width: 300px;
        height: 30px;
      }

      #exp-date{
        width: 100px;
        height: 20px;
      }

      #exp-date1{
        width: 100px;
        height: 20px;
      }

    #cvc{
        margin-left: 280px;
        position: relative;
        bottom: 20px;
        
    }

    #cvc1{
        margin-left: 280px;
        position: relative;
        bottom: 40px;
    }

    #button{
        position: relative;
        bottom: 20px;
        left: 10px;
        height: 50px;
    }

    main{
        margin: 0px;
    }

    input[value="Confirm"]{
        font-size: 18px;
        letter-spacing: 2px;
    }

}